{% extends "base.html" %}

{% block title %}Add Page{% endblock %}

{% block content %}
   <form method="post" action="">

       <div class="container">
         <h2 style="color:white;">Add Page is Under Construction  </h2>
       </div>

       <div class="container"><br><br><br></div>

       <div class="container">

         <div class="col-lg-3"><br></div>

         <div class="col-lg-4">
           <h3><a href='/home/'>Go Back To Home Page</a></h3>
         </div>

       </div>

   </form>

{% endblock %}