{% extends "base.html" %}

{% block title %}Delete Page{% endblock %}

{% block head %}
  {{ super() }}
    <link href="{{STATIC_ASSETS_URL}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_ASSETS_URL}}/css/dataTable/font-awesome.css" rel="stylesheet" />
{% endblock %}

{% block content %}
        {% with search=False %}
        {% include 'navebar.html' %}
        {% endwith %}

  <div class="col-md-4 col-sm-4 col-xs-12" >
    <br><br><br><br><br><br>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" >
    <br><br><br><br><br><br>
    <div class="panel-body">
 
    <div class="alert alert-success text-center">
        <h3>Employé ajouté avec succès</h3> 
        <hr />
        <i class="fa fa-warning fa-4x"></i>
        <p>
        Votre employé a été ajouté avec succès! Ce dernier recevra le login le mot de passe et la code de sa carte par email. <br><br>Merci de votre compréhension.
        </p>
        <hr />
        <a href='/home/' class="btn btn-success btn-lg">
          Accueil
        </a>
      <hr />
    </div>
   </div>
</div>

{% endblock %}