{% extends "base.html" %}

{% block title %}Recharge Page{% endblock %}

{% block head %}
  {{ super() }}
      <style>
          .centered-form {
              margin-top: 40px;
              margin-bottom: 50px;
          }

      </style>
{% endblock %}
   
{% block content %}

          {% with username=user.login, userid=user.id, search=False %}
          {% include 'navebar.html' %}
          {% endwith %}

        <div class="row centered-form">
          <div class="col-sm-6 col-md-5 col-lg-7 col-md-offset-2 col-lg-offset-2">
                    <div class="form-group">
                        <h1 class="panel-title text-center">Rechagrer :</h1><br>
                          {% if campainList== [] %}
                            <div class="container">
                              <h5 style="color:white;"> - {{campainName}}</h5>
                            </div>
                           {% else %}
                              <div class="container">
                                 {% for name in campainList %}
                                   <h5 style="color:white;"> - {{name}}</h5>
                                 {% endfor %}
                              </div>
                            {% endif %} 


                    </div>
                        <form name="form" method="post" action="" enctype="multipart/form-data">

                          <div class="form-group">
                              <div class="row">
                                  <div class="col-xs-6 col-sm-4">

                              {% if ean13 %} 
                               <input type="number" class="form-control" placeholder="Montant de la Recharge" name="amount"  value="{{ean13}}" required maxlength=4 max=9999 min=1>
                              {% else %}
                               <input type="number" class="form-control" placeholder="Montant de la Recharge" name="amount" required maxlength=4 max=9999 min=1>
                              {% endif %}
                                    

                                  </div>
                                  <div class="col-xs-6 col-sm-4">
                                      <button type="submit" name="btn" class="btn btn-success btn-block">
                                        <span class="glyphicon glyphicon-saved"></span>&nbsp;&nbsp;Valider</button>
                                  </div>
                                  <div class="col-xs-6 col-sm-4">
                                     <br>
                                  </div>
                              </div>
                          </div>
                           {% if Errors %}
                              {% for mes in Errors %}
                                 <font color="red"> - {{mes['Error']}} !</font><br>
                              {% endfor %}
                            {% else %}
                              <br>    
                            {% endif %}
                        </form>

            </div>
        </div>

{% endblock %}
