{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

      {% if solde %}
        {% with username=user, userid=userid, search=True, search_text=search_text, solde=solde %}
          {% include 'navebar.html' %}
        {% endwith %}
      {% else %}
        {% with username=user, userid=userid, search=True, search_text=search_text %}
          {% include 'navebar.html' %}
        {% endwith %}    
      {% endif %}

      {% if validation == "valid" %}
        {% set valid = "checked" %}
        {% set invalid = "" %}
        {% set coming = "" %}
      {% elif validation == "invalid" %}
        {% set invalid = "checked" %}
        {% set valid = "" %}
        {% set coming = "" %}
      {% elif validation == "coming" %}
        {% set valid = "" %}
        {% set invalid = "" %}
        {% set coming = "checked" %}
      {% else %}
        {% set valid = "" %}
        {% set invalid = "" %}
        {% set coming = "" %}
      {% endif %}

     <form name="form" id="myForm" method="post" action="">
       <div class="row">
           <br><br>
         <div class="form-group" >
                <div class="col-lg-3 col-xs-6 col-sm-4 col-lg-offset-1">
                  {% if usertype == "Employeur" %}
                  <h2 style="color:white;">Liste des Employés</h2>
                  {% elif usertype == "Employe&Employeur" %}
                  <h2 style="color:white;">Liste des Employés/Cartes</h2>
                  {% else %}
                  <h2 style="color:white;">Liste des Transactions</h2>
                  {% endif %}
                   
                </div>

                <div class="col-lg-2 col-xs-6 col-sm-4">
                  <br>
                  {% if usertype == "Employeur" %}
                  <button class="btn btn-block btn-success" type="submit" name="btn" value="add" style="margin-top: 8px;"><span class="glyphicon glyphicon-plus"></span> Ajouter Employé </button>

                  {% elif usertype == "Employe" %}
                      {% if card_state == True %}
                        <button class="btn btn-block btn-danger" type="submit" name="btn" value="bloc" style="margin-top: 8px;"><span class="glyphicon glyphicon-trash"></span> Opposition Carte</button>
                      {% else%}
                        <button class="btn btn-disabled btn-block disabled" name="btn" href="/home/" value="locked" style="margin-top: 8px;" disabled="disabled"><span class="glyphicon glyphicon-remove"></span>Carte Opposée</button>
                      {% endif %}
                  {% endif %}
                  
                </div>
             </div>
            </div>

            <div class="container"><br></div>
                
            <div class="container">
                {% with usertype=usertype %}
                 {% include 'table.html' with context %}
                {% endwith %}
                 
                {% include 'pagination.html' with context %}
            </div>
     </form> 

{% endblock %}
{% block script %}
{{ super() }}
<script type="text/javascript" src="{{STATIC_ASSETS_URL}}/js/campagne/visibility.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{STATIC_ASSETS_URL}}/js/campagne/validity_check.js" charset="UTF-8"></script>
{% endblock %}
