
<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<meta charset="UTF-8">
<link rel="icon" href="{{STATIC_MEDIA_URL}}/aventix.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{STATIC_ASSETS_URL}}/css/tnthome/all.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_ASSETS_URL}}/css/tnthome/font-awesome.min.css">
<link rel="stylesheet" href="{{STATIC_ASSETS_URL}}/css/tnthome/style.css">
<link rel="stylesheet" href="{{STATIC_ASSETS_URL}}/css/tnthome/normalize.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<style type="text/css">
      .form-control {
          font-size: 22px;
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px 10px;
          background: none;
          background-image: none;
          border: 1px solid #a0b3b0;
          color: #ffffff;
          border-radius: 4px;
          -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
    }  
</style>  
</head>
<body>
<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '{{STATIC_ASSETS_URL}}/js/tnthome/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
<header>
  <div class="overlay-nav hidden">
    <ul class="mobile">
      <li><a href="">HOME</a></li>
    </ul>
    <ul class="mobile">
      <li><a href="" class="about">ABOUT</a></li>
    </ul>
    <ul class="mobile">
      <li><a href="" class="work">TEAM</a></li>
    </ul>
    <ul class="mobile">
      <li><a href="" class="contact-nav">CONTACT</a></li>
    </ul>
    <div class="close"></div>
  </div>
  <div class="container">
    <div id="logo">AVENTIX</div>
    <nav><a id="toggle" href=""><i class="fa fa-bars fa-2x"></i></a>
      <ul class="in">
        <li><a style="color:white;" href="">HOME</a></li>
      </ul>
      <ul class="in">
        <li><a style="color:white;" href="javascript:void(0)" class="about">ABOUT</a></li>
      </ul>
      <ul class="in">
        <li><a style="color:white;" href="javascript:void(0)" class="work">TEAM</a></li>
      </ul>
      <ul class="in">
        <li><a  style="color:white;" href="javascript:void(0)" class="contact-nav">CONTACT</a></li>
      </ul>
    </nav>

     <div class="form"> 
      <ul class="tab-group">
        <li class="tab active"><a href="#login">Se connecter</a></li>
        <li class="tab"><a href="#signup">S'enregistrer</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="login">   
          <h1>Bonjour !</h1>
          
          <form method="post" action="">
          
            <div class="field-wrap">
            <label>
              Login<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" name="login" onClick="document.getElementById('msg_id').innerHTML = '';"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" name="passwd" onClick="document.getElementById('msg_id').innerHTML = '';"/>
          </div>
           {% if msg %}
           <font style="margin-left: 150px;" color="red" id="msg_id">{{msg}}</font><br>
           {% else %}
           <br>
           {% endif %}
          
          
          <button type="submit" class="button button-block" name="btn" value= "Connexion"/>Confirmer</button>
          
          </form>

        </div>


        <div id="signup">   
          <h1>Régoignez Nous !</h1>
          
          <form method="post" action="">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Nom<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Prénom<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Addresse Email<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off"/>
          </div>

            <div class="field-wrap">
             <select class="form-control">
               <option>Employeur</option>
               <option>Commerçant</option>
             </select>
          </div>
          
          <div class="top-row">
          <div class="field-wrap">
            <label>
              Mot de pass<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Confirmer mot de passe<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off"/>
          </div>
        </div>
          
          <button type="submit" class="button button-block" name="btn" value= "Create"/>Confirmer</button>
          
          </form>

        </div>
        
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  </div>
</header>
<section>
  <div class="container">
    <h1 class="port">About The Project</h1>
    <div class="self-pic"></div>
    <p class="about-para">Say Goodbye to the Restaurant Tickets it's time to deal with RFID Cards.</p>
    <p class="about-para">TAN & TECH Team this is our web application for Aventix project <strong>INSA LYON MS IF 2017</strong>.</p>
    <p class="about-para">This web app is for the clients of Aventix (Traders, Employer, Employee). And the idea about this project is to change the restaurant tickets, that Employer give to their Employees, by an RFID Cards which can be charged or opposed via this website, also Employees can see their balance and the Traders can see their transactions .</p>
    
  </div>
</section>
<section>
  <h2 class="port">Meet the Team</h2>
  <div class="container">
    <div class="flex">
      <figure id="one">
        <figcaption id="img1" class="overlay">Yannis Arapis - Project Manager</figcaption>
        <a href=""><img src="{{STATIC_ASSETS_URL}}/img/tnthome/yanis.jpg" alt="website template image"></a></figure>
      <figure id="two">
        <figcaption id="img2" class="overlay">Fakher Meddeb - Quality Manager</figcaption>
        <a href=""><img src="{{STATIC_ASSETS_URL}}/img/tnthome/fakher.jpg" alt="website template image"></a></figure>
      <figure id="three">
        <figcaption id="img3" class="overlay">Mohamed Bouzid - Business Manager</figcaption>
        <a href=""><img src="{{STATIC_ASSETS_URL}}/img/tnthome/takichi.jpg" alt="website template image"></a></figure>
      <figure id="four">
        <figcaption id="img4" class="overlay">Norine Dumas - Developer</figcaption>
        <a href=""><img src="{{STATIC_ASSETS_URL}}/img/tnthome/nourine.jpg" alt="website template image"></a></figure>
      <figure id="five">
        <figcaption id="img5" class="overlay">Rihem Youssfi - Developer</figcaption>
        <a href=""><img src="{{STATIC_ASSETS_URL}}/img/tnthome/rihem.jpg" alt="website template image"></a></figure>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <p class="contact">Feel free to reach out to us!</p>
    <a href="" style="color:white;" class="contact-button">Email US!</a>
  </div>
</section>
<footer>
  <div class="container">
    <p class="foot">&copy; Copyright 2017 | By <a style="color:orange; font-size: 22px;" target="_blank" rel="nofollow" href="https://tntwebserver.herokuapp.com/admin">Tan&Tech</a></p>
  </div>
</footer>
<script type="text/javascript" src="{{STATIC_ASSETS_URL}}/js/tnthome/jquery-2.1.4.min.js" charset="UTF-8"></script>
<script src="{{STATIC_ASSETS_URL}}/js/tnthome/main.js"></script>
<script src="{{STATIC_ASSETS_URL}}/js/tnthome/index.js"></script>


</body>
</html>