                    <table class="table table">
                    <thead>
                    </thead>
                    <tbody>


                    {% if usertype == "Employeur" %}
                      
                      {% if MyCampainsList|length > 1 %}
                      <tr style="height: 72px;">
                       <td class="col-xs-2 col-sm-2 col-md-2">
                         <label style="height: 30px;">
                          <input type="checkbox" name="btncheckAll" id="checkboxAll" onchange="javascript:visibilite(this.id); return false;" > <font style="color:white;">Selectionner Tout</font>
                         </label>
                         <br><br>
                       </td>
                      {% else %}
                       <tr style="height: 72px;">
                       <td class="col-xs-2 col-sm-2 col-md-2">
                           <br><br>
                       </td>
                      {% endif %}
                       <td class="col-xs-2 col-sm-2 col-md-2">
                        <div id="id_show_valid_check" style="display:'';">
                            <br><br>
                        </div>
                        <div id="id_compare_btn" style="display:none;">
                            <br><br>
                        </div>
                       </td>
                          
                       <td calss="col-xs-6 col-sm-6 col-md-6">
                        <div id="id_show_invalid_check" style="display:'';">
                          <div class="col-xs-4 col-sm-4 col-md-4" >
                            <br><br>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4">
                              <br><br>
                          </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4" id="id_export_btn" style="display:none;">
                           <button class="btn btn-block btn-primary" type="submit" name="btn" value="recharge_All"><span class="glyphicon glyphicon-euro"></span> Recharger </button>
                          </div> 
                          <div class="col-xs-4 col-sm-4 col-md-4" id="id_delete_btn" style="display:none;">
                            <button class="btn btn-block btn-danger" type="submit" name="btn" value="bloc_All"><span class="glyphicon glyphicon-trash"></span> Déclarer </button>
                          </div> 

                       </td>
                          
                      </tr>

                      
                       {% for campainid, campaininfo in MyCampainsList.iteritems() %} 
                       <tr style="height: 42px;">                      
                           <td style="width:25%;">
                              <label>
                                 <input type="checkbox" name="checkfor_{{campaininfo['id']}}" onchange="javascript:visibilite(this.id); return false;" id="checkbox_{{campaininfo['id']}}">
                              </label>
                              <a size="18"><font color="green" id="campain_name_{{campaininfo['id']}}"><h8>{{campaininfo["Nom"]}}</h8></font></a>
                           </td>
                           <td><font style="color:white;">{{campaininfo["Carte"]}}</font>
                            <input type="hidden" name="carte" id="carte_{{campaininfo['id']}}" value="{{campaininfo['Carte']}}">
                           </td>
                           <td>
                               <div class="col-xs-6 col-sm-3">
                                 <font style="color:white;">{{campaininfo["Date"]}}</font>
                                 <input type="hidden" name="Date" id="Date_{{campaininfo['id']}}" value="{{campaininfo['Date']}}">
                               </div> 
                               <div class="col-xs-6 col-sm-3">
                                 <font id="validity_{{campaininfo['id']}}" name="validity_for_{{campaininfo['id']}}"></font>
                               </div> 
                               <div class="col-xs-6 col-sm-3" id="recharge_{{campaininfo['id']}}" style="display:'';">
                                 <button class="btn btn-xs btn-primary" type="submit" name="btn" value="recharge_{{campaininfo['id']}}"><span class="glyphicon glyphicon-euro"></span> Recharger </button>
                               </div> 
                                
                                {% if campaininfo["valid_card"] == True %}
                                  <div class="col-xs-6 col-sm-3" id="bloc_{{campaininfo['id']}}" style="display:'';">
                                      <button class="btn btn-xs btn-danger" type="submit" name="btn" value="bloc_{{campaininfo['id']}}"><span class="glyphicon glyphicon-trash"></span> Déclarer  </button>
                                  </div> 
                                {% else %}
                                  <div class="col-xs-6 col-sm-3" id="bloc_{{campaininfo['id']}}" style="display:'';">
                                      <button class="btn btn-xs btn-disabled" type="submit" name="btn" value="locked_{{campaininfo['id']}}"><span class="glyphicon glyphicon-remove"></span> Opposée </button>
                                  </div> 
                                {% endif %}
                               
                           </td>
                        </tr>
                       {% endfor %}


                    {% else %}
                      {% if MyCampainsList|length > 1 %}
                      <tr style="height: 72px;">
                       <td class="col-xs-2 col-sm-2 col-md-2">
                         <label style="height: 30px;">
                         </label>
                         <br><br>
                       </td>
                      {% else %}
                       <tr style="height: 72px;">
                       <td class="col-xs-2 col-sm-2 col-md-2">
                           <br><br>
                       </td>
                      {% endif %}
                          
                      </tr>

                      
                       {% for campainid, campaininfo in MyCampainsList.iteritems() %} 
                       <tr style="height: 42px;">                      
                           <td style="width:25%;">
                              <label>
                              </label>
                              &nbsp;
                              <a size="18"><font color="green" id="campain_name_{{ campainid }}"><h8>{{campaininfo["Transaction"]}}</h8></font></a>
                           </td>
                           <td><font style="color:white;">{{campaininfo["Date"]}}</font>
                            <input type="hidden" name="Date" id="Date_{{campainid}}" value="{{campaininfo['Date']}}" style="color:white;">
                           </td>
                           <td>
                               <div class="col-xs-6 col-sm-3">
                                 <font style="color:white;">€{{campaininfo["Montant"]}} EUR</font>
                                <input type="hidden" name="amount" id="amount_{{campainid}}" value="{{campaininfo['Montant']}}" style="color:white;">
                               </div> 
                               <div class="col-xs-12 col-sm-6">
                                 <font id="validity_{{ campainid }}" name="validity_for_{{campainid}}"></font>
                               </div> 
                               
                           </td>
                        </tr>
                       {% endfor %}

                    {% endif %}
                       
                        {% if MyCampainsList|length < itemPerPage %}
                           {% for i in range(MyCampainsList|length, itemPerPage) %}
                             <tr style="height: 42px;"> 
                              <td><br></td>
                              <td><br></td>
                              <td><br></td>
                             </tr>
                            {% endfor %}
                        {% endif %}


                      </tbody>
                    </table>