                            
                    {% if usertype == "Employeur" %}
                    <div class="table-responsive">
                                <label style="height: 50px;">
                                   <input type="checkbox" name="btncheckAll" id="checkboxAll" onchange="javascript:visibilite(this.id); return false;" > 
                                   <font style="color:black;">Sélectionner tout :  &nbsp;&nbsp;&nbsp;&nbsp;</font>
                                </label>
                                <button class="btn btn-primary" type="submit" name="btn" id="id_export_btn" value="recharge_All" style="display:none;"> 
                                    <span class="glyphicon glyphicon-euro"></span> Recharger 
                                </button>
                                <button class="btn btn-danger" type="submit" name="btn" id="id_delete_btn" value="bloc_All" style="display:none;">
                                    <span class="glyphicon glyphicon-trash"></span> Déclarer  
                                </button>
                             <div class="container"><br><br></div>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
 
                     <thead>
                         <tr>
                             <th>Employé</th>
                             <th>N° carte</th>
                             <th>Date</th>
                             <th>Validité</th>
                             <th>Recharge</th>
                             <th>Opposition</th>
                         </tr>
                     </thead>


                     <tbody>
          

                    {% for campainid, campaininfo in MyCampainsList.iteritems() %} 
                       <tr class="odd gradeX" id="color_{{ campaininfo['id'] }}"> 

                           <td>
                              <label>
                                <input type="checkbox" name="checkfor_{{campaininfo['id']}}" onchange="javascript:visibilite(this.id); return false;" id="checkbox_{{campaininfo['id']}}">
                                <a size="18"> 
                                    <font id="campain_name_{{campaininfo['id']}}">
                                        <h8 style="">{{campaininfo["Nom"]}}</h8>
                                    </font>
                                </a>
                              </label>
                           </td>

                           <td>
                               <font style="">{{campaininfo["Carte"]}}</font>
                           </td>

                           <td>
                             <font style="">{{campaininfo["Date"]}}</font>
                             <input type="hidden" name="Date" id="Date_{{campaininfo['id']}}" value="{{campaininfo['Date']}}">
                            </td>

                            <td class="center">
                                 <font id="validity_{{campaininfo['id']}}" name="validity_for_{{campaininfo['id']}}"></font>
                            </td>
                            <td>
                                 <button class="btn btn-xs btn-primary" type="submit" name="btn" id="recharge_{{campaininfo['id']}}" style="display:'';" value="recharge_{{campaininfo['id']}}"><span class="glyphicon glyphicon-euro"></span> Recharger </button>
                            </td>
                            <td>
                                {% if campaininfo["valid_card"] == True %}
                                      <button class="btn btn-xs btn-danger" id="bloc_{{campaininfo['id']}}" style="display:'';" type="submit" name="btn" value="bloc_{{campaininfo['id']}}"><span class="glyphicon glyphicon-trash"></span> Déclarer  </button>
                                {% else %}
                                      <button class="btn btn-xs btn-disabled" id="bloc_{{campaininfo['id']}}" style="display:'';" type="submit" name="btn" value="locked_{{campaininfo['id']}}"><span class="glyphicon glyphicon-remove"></span> Opposée </button>
                                {% endif %}
                            </td>
                        </tr>
                       {% endfor %}

                        </tbody>
                    </table>



                                    {% else %}
                                    <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Restaurant</th>
                                            <th>Date</th>
                                            <th>Montant</th>
                                            <th>Etat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for campainid, campaininfo in MyCampainsList.iteritems() %}
                                    
                                        <tr class="odd gradeX" id="color_{{ campainid }}">
                                            <td>
                                                <a size="18">
                                                    <font id="campain_name_{{ campainid }}">
                                                        <h8 style="">{{campaininfo["Transaction"]}}</h8>
                                                    </font>
                                                </a>
                                            </td>
                                            <td class="center">
                                                <font style="">{{campaininfo["Date"]}}</font>
                                                <input type="hidden" name="Date" id="Date_{{campainid}}" value="{{campaininfo['Date']}}" style="">
                                            </td>
                                            <td class="center">€{{campaininfo["Montant"]}} EUR</td>
                                            <td class="center"><font id="validity_{{ campainid }}" name="validity_for_{{campainid}}" style="" ></font></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                    {% endif %}

                                   
